
html{
  font-family: Palatino;
  color: dimgray;

}


header {
    font-size: 76px;
}

.nav{
   
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    margin: 20px;

}

.logo{
  height: 200px;
  margin-top: 40px;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  display: block;

}

a{
  color: dimgray;

}

a:link
{
text-decoration:none;
}

.listacatalogo{
   float: left;
width: 100%;
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #E5E5E5;


}

div .catalogocontenido{
    width: 100%;
    height: 250px;
    border-bottom: 2px solid #E5E5E5;
    text-align: center;

    
    
}

div .fototitulo{
 height: 200px;
 width: 25%;
float: left;
border-style: groove;
margin-left: 3%;

}

.anomia{
 height: 150px;
 width: 25%;
float: left;
border-style: groove;
margin-left: 3%;


}

.titulo{
    text-align: center;
    border-bottom: 2px solid #E5E5E5;
    padding: 3%;
}

.nombretitulo{
    text-align: center;
    width: 880px;
    margin-top: 3%;
    
}

.rizoma{
 height: 210px;
 width: 35%;
float: left;
border-style: groove;
margin-left: 3%;

}