
html{
  font-family: Palatino

}


header {
    font-size: 6.2vw;
}

.nav{
   
    border-width:0.08vw 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    margin: 1.6vw;

}

.logo{
  height: 16.2vw;
  margin-top: 2.7vw;
  width: 13vw;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-justify:auto;
}

a{
  color: dimgray;

}

a:link
{
text-decoration:none;
}

.cuerpo{
  margin: 3.2vw; 
  padding: 3.2vw;
  width: 50%;
  align-content: center;
  display: block;
  margin-left:  auto;
  margin-right:  auto;
  text-align: justify;
  font-size: 1.5vw;

}
