
html{
  font-family: Palatino

}


header {
    font-size: 76px;
}

.nav{
   
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    margin: 20px;

}

.logo{
  height: 200px;
  margin-top: 40px;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  display: block;

}

a{
  color: dimgray;

}

a:link
{
text-decoration:none;
}

.container {
  position: relative;
  width: 30%;
  height: auto;
  display: inline-table;

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-style: solid;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.arti{
  
  text-align: center;
  width: 100%;
  margin-top: 5%;
  border-bottom: 2px solid #E5E5E5;
  padding-bottom: 5%;
  
  
}

.instagram{
  text-decoration: none;
  font-size: 12px;
  float:left;
  width: 30%;
  list-style: none;
  margin-left: 10%;
  color: dimgray;
}

.contacto{
   text-decoration: none;
  font-size: 12px;
  float:right;
  width: 30%;
  list-style: none;
  color: dimgray;

}

.logofooter{
  display: block;
  width:10%;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
}

.instagram{
  text-decoration: none;
  font-size: 20px;
  float:left;
  width: 30%;
  list-style: none;
  margin-left: 10%;
  color: dimgray;
}

.contacto{
   text-decoration: none;
  font-size: 20px;
  float:right;
  width: 30%;
  list-style: none;
  color: dimgray;

}

.logofooter{
  display: block;
  width:10%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  margin-top: 2%;

}

