
.post {
  width: 300px;
  border: 15px solid gray;
  padding: 25px;
  margin: 25px;
  height: 300px;

}

.nav{
   
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
   margin: 20px;

}

table{
	text-align: center;
}

header {
	font-size: 76px;
}

img{
  height: 200px;
  margin-top: 40px;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  display: block;

}