html{
	font-family: "Merriweather",serif;
}

img{
	height: 16.2vw;
	margin-top: 3.2vw;
	width: 13vw;
	margin-right: auto;
	margin-left: auto;
	display: block;

}
hr{
color: gray;
}

h1{
text-align: center;
font-style: italic;
margin-top: 3.2vw;
}

article {
	text-align: center;
	font-size: 1.95vw;
}

.cuerpo{
	margin: 3.2vw; 
	padding: 3.2vw;
}

.separador{
	width: 3.2vw;
}

.autor{
	height: 16.2vw;
	margin-top: 4.8vw;
	width: 13vw;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border:0.24vw solid gray;

}

p {
	text-align: center;
	font size: 1.5vw;
}